{erl_opts, [export_all, debug_info]}.
{deps, [
    cache,
    {mysql_poolboy, ".*", {git, "https://github.com/mysql-otp/mysql-otp-poolboy", {tag, "0.1.7"}}},
    {spt_crate, ".*", {git, "https://github.com/indie21/spt_crate.git"}},
    {lager, "3.6.1"}
]}.

{relx, [{release, { cache_manager, "0.1.0" },
         [
            cache_manager, 
            mysql_poolboy,
            spt_crate,
            lager,
            cache,
            sasl 
         ]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.

{plugins, [rebar3_auto]}.
