[
    {cache_manager, []},

    {mysql_poolboy, [ 
        {pool, {
            [
                {size, 10}, 
                {max_overflow, 20}
            ],
            [
                {user, "root"}, 
                {password, "root"}, 
                {database, "ts_game_wd"},
                {encoding, "utf8"},
                {prepare, [{foo, "show tables"}]}
            ]
        }}
    ]},


    {lager, [
        {log_root, "log"},
        {handlers, [
            {lager_console_backend, [{level, info}]},
            {lager_file_backend, [{file, "error.log"}, {level, error}]},
            {lager_file_backend, [{file, "console.log"}, {level, info}]}
        ]}
    ]}
].
